body {
    background-color: rgb(21, 54, 36);
    font-family: monospace;
  }

.fade {
  opacity: 0.5;
}
.fade:hover {
  opacity: 1.0;
}
.text1 {
    color: black;
    background-color: rgb(155, 142, 87);
    font-family: monospace;
    font-weight: 100;
    font-style: normal;
    font-size: large;
  }
.text2 {
    color: black;
    background-color: rgb(155, 142, 87);
    font-family: monospace;
    font-weight: 100;
    font-style: normal;
    font-size: large;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.column1 {
    width: 46.5%;
    height: 560px;
    float: left;
    border: 20px black;
    padding: 20px;
    margin: 5px;
  }

.photo {
    width: 90%;
}

h4 {
    background-color: rgb(155, 142, 87);
    color: black;
    width: 100%;
    float: center;
  }
.column2
  {
    float: left;
    width: 30%;
    height: 250px;
    padding: 15px;
    margin: 10px;
    border: 5px black;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.quote {
    font-size: large;
    float: center;
    text-align: center;
    background-color: rgb(46, 58, 124);
    width: 100%;
    padding: 20px;
    border: 10px;
    margin: 5px;
}

.link {
  font-size: large;
  float: center;
  text-align: center;
  background-color: rgb(138, 140, 141);
  width: 90%;
  padding: 20px;
}

